<div id="fb-posts"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0" nonce="{{ nonce }}"></script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: '126258490493468',
      autoLogAppEvents: true,
      xfbml: true,
      version: 'v17.0'
    });

    var latestPostUrls = {{ latest_post_urls | tojson }};
    var embeddedPostCode = '';

    if (latestPostUrls.length > 0) {
      for (var i = 0; i < latestPostUrls.length; i++) {
        var postUrl = latestPostUrls[i];
        embeddedPostCode += '<div class="fb-post" data-href="' + postUrl + '"></div>';
      }

      document.getElementById('fb-posts').innerHTML = embeddedPostCode;
      FB.XFBML.parse(document.getElementById('fb-posts'));
    }
  };
</script>

<div id="postStatus"></div>
