<!--Section: About Us-->

 <!-- Service Start -->
<div class="container-xxl">
  <div class="container">
      <div class="text-center" >
        <h6 class="section-title text-center fw-bold px-3" style="color: white; padding-top: 20px;">Services</h6>
      </div>
      <div class="row g-4">
          <div class="col-lg-3 col-sm-6 d-flex" >
              <div class="service-item rounded pt-3 flex-fill">
                  <div class="p-4">
                      <i class="fa fa-3x fa-plane text-primary mb-4"></i>
                      <h5>International Flight</h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex">
              <div class="service-item rounded pt-3 flex-fill">
                  <div class="p-4">
                      <i class="fa fa-3x fa-plane-departure text-primary mb-4"></i>
                      <h5>Domestic Flight</h5>
                     
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex" >
              <div class="service-item rounded pt-3 flex-fill">
                  <div class="p-4">
                      <i class="fa fa-3x fa-user text-primary mb-4"></i>
                      <h5>Travel Guides</h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex" >
              <div class="service-item rounded pt-3 flex-fill">
                  <div class="p-4">
                      <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                      <h5>Customized Itineraries</h5>
                     </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex" >
              <div class="service-item rounded pt-3 flex-fill">
                  <div class="p-4">
                      <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                      <h5>Hotel Booking</h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex" >
              <div class="service-item rounded pt-3 flex-fill">
                  <div class="p-4">
                      <i class="fa fa-3x fa-fire text-primary mb-4"></i>
                      <h5>Solo Travel</h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex">
              <div class="service-item rounded pt-3 flex-fill">
                  <div class="p-4">
                      <i class="fa fa-3x fa-solid fa-tree text-primary mb-4"></i>
                      <h5>Tour Services</h5>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex">
              <div class="service-item rounded pt-3 flex-fill">
                  <div class="p-4">
                      <i class="fa fa-3x fa-solid fa-ship text-primary mb-4"></i>
                      <h5>Domestic Ferry</h5>
                     
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!--Section: About Us-->

<!-- Contact-->
<section class="alternate-background">
  <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center">
              <h1 class="mb-5">Contact For Any Query</h1>
          </div>
          <div class="row">
              <div class="col">
                  <h5>Get In Touch</h5>
                  <div class="d-flex align-items-center mb-4">
                      <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                          <i class="fa fa-map-marker-alt xtet-white"></i>
                      </div>
                      <div class="ms-3">
                          <h5 class="text-primary">Office</h5>
                          <p class="mb-0">MGT Bldg, Baltan st. Barangay San Miguel, Puerto Princesa, Palawan 5300, Philippines</p>
                      </div>
                  </div>
                  <div class="d-flex align-items-center mb-4">
                      <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                          <i class="fa fa-phone-alt text-white"></i>
                      </div>
                      <div class="ms-3">
                          <h5 class="text-primary">Mobile</h5>
                          <p class="mb-0">+916 573 7714 / +912 419 7153 / #0484238728</p>
                      </div>
                  </div>
                  <div class="d-flex align-items-center">
                      <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                          <i class="fa fa-envelope-open text-white"></i>
                      </div>
                      <div class="ms-3">
                          <h5 class="text-primary">Email</h5>
                          <a
                          href="mailto:hnmtravelandtours323@gmail.com" target="_blank" class="text-primary">hnmtravelandtours323@gmail.com</a>
                      </div>
                  </div>
              </div>
  
              <div class="col">
                <div class="mapouter" style="border: 1px solid black;">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=baltan st mgt building&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://2yu.co">2yu</a><br>
                        <style>.mapouter{position:relative;text-align:right;height:110%;width:100%;}</style>
                        <a href="https://embedgooglemap.2yu.co/">html embed google map</a>
                        <style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style>
                    </div>
                </div>
            </div>
            
              
          </div>
      </div>
  </div>
  </section>
<!-- endContact-->

<!-- Footer-->
<footer class="text-center text-white" style="background-color: #e4e5e6;">
  <!-- Grid container -->
  <div  class="container p-4">
    <!-- Section: Images -->
    <section id="sectionImages" class="hide-on-small-device">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/113.jpg"
                 class="w-100"
                 />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/111.jpg"
                 class="w-100"
                 />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/112.jpg"
                 class="w-100"
                 />
            
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/114.jpg"
                 class="w-100"
                 />
           
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/115.jpg"
                 class="w-100"
                 />
            
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/116.jpg"
                 class="w-100"
                 />
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #292b33;">
    © 2023 Copyright: HNM Travel and Tours
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer-->

