<!--Section: About Us-->

 <!-- Service Start -->
<div class="container-xxl">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center fw-bold px-3" style="color: white; padding-top: 20px;">Services</h6>
      </div>
      <div class="row g-4">
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                      <h5>WorldWide Tours</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                      <h5>Hotel Reservation</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-user text-primary mb-4"></i>
                      <h5>Travel Guides</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                      <h5>Event Management</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                      <h5>Family Travel</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-hotel text-primary mb-4"></i>
                      <h5>
                        Solo Travel</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-user text-primary mb-4"></i>
                      <h5>Travel Guides</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="service-item rounded pt-3">
                  <div class="p-4">
                      <i class="fa fa-3x fa-cog text-primary mb-4"></i>
                      <h5>Event Management</h5>
                      <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!--Section: About Us-->

<!-- Footer-->
<footer class="text-center text-white" style="background-color: #e4e5e6;">
  <!-- Grid container -->
  <div  class="container p-4">
    <!-- Section: Images -->
    <section id="sectionImages" class="hide-on-small-device">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/113.jpg"
                 class="w-100"
                 />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/111.jpg"
                 class="w-100"
                 />
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/112.jpg"
                 class="w-100"
                 />
            
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/114.jpg"
                 class="w-100"
                 />
           
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/115.jpg"
                 class="w-100"
                 />
            
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
               class="bg-image hover-overlay ripple shadow-1-strong rounded"
               data-ripple-color="light"
               >
            <img
                 src="https://mdbootstrap.com/img/new/fluid/city/116.jpg"
                 class="w-100"
                 />
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #292b33;">
    © 2023 Copyright: HNM Travel and Tours
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer-->

