{% extends 'base.html' %}
{% set current_route = 'index' %}
{% set show_header_special_div = True%}
{% block body %}

<!--Section: Services-->

<section class="align-center">
    <div class="container center-align">
      <div class="row">
        <div class="col">
         <div class="cardServices">
            <img class="card-img-top" src="/static/icons/travel.svg" alt="Traveller Tours">
            <div class="card-body">
              <h4 class="card-title hide-on-small-device">Traveller Tours</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div  class="cardServices">
            <img class="card-img-top" src="/static/icons/globe.svg" alt="Traveller Tours">
            <div class="card-body">
              <h4 class="card-title hide-on-small-device">Explore The World</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cardServices">
            <img class="card-img-top" src="/static/icons/Hotel.svg" alt="Traveller Tours">
            <div class="card-body">
              <h4 class="card-title hide-on-small-device">Luxurious Hotel</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div  class="cardServices">
            <img class="card-img-top" src="/static/icons/adventure.svg" alt="Traveller Tours">
            <div class="card-body">
              <h4 class="card-title hide-on-small-device">Exciting Adventure</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--Section: Services-->
<!--gallery-->
<main class="mt-5">
    <div data-aos="fade-up" class="container gallery">
        <section>
            <div class="row">
                <div id="rowGallery" class="col-md-6 gx-5 mb-4">
                    <h1 id="title">10 Amazing places in Palawan</h1>
                    <p id="disc1" class="u-text u-text-2">
                        Palawan stands out as one of the most captivating destination in the philippines due to its remarkable natural beauty
                        which includes breathtaking landscapes, picturesque views, and mesmerizing natural attractions.
                        At HNM travel and Tours Agency, Our objective is to present the extraordinary marvels and distinctive
                        characteristics that set palawan from other places. By doing so, we honor the uniqueness that exist
                        only here in palawan, fostering a greater appreciation and comprehension of the abundant wealth of natural and cultural treasures it provides.
                    </p>
                    <div id="learnMore-Button">
                        <a href="{{ url_for('learnmore') }}" >Learn More</a>
                    </div>
                    <div id="gallery" class="row ">
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 hide-on-small-device">
                            <div class="child bg-one">
                                <img src="/static/images/big-lagoon.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Elnido" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 ">
                            <div class="child bg-two">
                                <img src="/static/images/elnido-beach.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Elnido Beach" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 hide-on-small-device">
                            <div class="child bg-three">
                                <img src="/static/images/Elnido2.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Elnido" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 ">
                            <div class="child bg-four">
                                <img src="/static/images/1.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Culion Island" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 hide-on-small-device">
                            <div class="child bg-five">
                                <img src="/static/images/malcapuya.jpg"
                                     id="malcapuya" class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Malcapuya" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 hide-on-small-device">
                            <div class="child bg-six">
                                <img src="/static/images/underground.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Underground River" />
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="flip-left" id="right"  class="col-md-6 gx-5 mb-4 hide-on-small-device">
                        <img src="/static/images/coron.jpg"
                             class="w-100"
                             alt="Coron" />
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Gallery -->
<section class="alternate-background">
    <div class="container-xxl py-5 destination">
        <div data-aos="fade-up" class="container center-align-sm">
            <div class="text-center">
                <h6 class="section-title text-center text-dark fw-bold px-3">Popular Destination</h6>
            </div>

            <div class="row g-3">
                <div class="col-lg-7 col-md-6 ">
                    <div class="row g-3">
                        <div data-aos="flip-right" class="col-lg-12 col-md-12">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/static/images/puerto.jpg" alt="">
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Puerto Princesa</div>
                            </a>
                        </div>
                        <div data-aos="flip-right" class="col-lg-6 col-md-12">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/static/images/underground.jpg" alt="">
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Underground River</div>
                            </a>
                        </div>
                        <div data-aos="flip-right" class="col-lg-6 col-md-12">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/static/images/coron2.jpg" alt="">
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Coron</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div data-aos="flip-left" class="col-lg-5 col-md-6" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="/static/images/Elnido2.jpg" alt="" style="object-fit: cover;">
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">El Nido</div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Section: Packages Start-->
<section>
    <div data-aos="fade-up" class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <h1 class="mb-5">Awesome Packages</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="package-item">
                        <h4 class="text-center">Siargao Island Hopping</h1>
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/images/siargao.jpg" alt="Siargao">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Siargao</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Minimun of 4 person</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">₱1600/pax</h3>
                            <div class="mb-3">
                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="https://www.facebook.com/photo?fbid=177028105355613&set=a.124977407227350"  target="_blank" class="btn btn-sm px-3 border-end" style="border-radius: 30px;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="package-item">
                        <h4 class="text-center">Puerto Package + El Nido</h4>
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/images/puerto.jpg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Palawan</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>6Days 5Nights</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Minimum of 2 person</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">₱13,850/pax</h3>
                            <div class="mb-3">
                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="https://www.facebook.com/HNMtravel/posts/pfbid02VUL1C92cmnySpa2zViF67sTYhdQpg2Z8aUwc5kzwuzcbnsx3HVNqJF9xJ9XGVJrCl" target="_blank" class="btn btn-sm  px-3 border-end" style="border-radius: 30px;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="package-item">
                        <h4 class="text-center">Balabac Island Tour</h4>
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/images/balabac3.png" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Balabac</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>5Days and 4Nights</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Joiners Tour</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">₱14,500/pax</h3>
                            <div class="mb-3">
                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                <small class="fa fa-star"style="color:#39C67A;"></small>
                            </div>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="https://www.facebook.com/HNMtravel/videos/571401341826076" target="_blank" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px;">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Packages End-->

<!-- Section: Top Travel Attraction-->
<section>
    <div data-aos="zoom-in" id="sectionBackgroundImg"></div>
    {% for item in gallery%}
        {% if loop.index % 2 == 0%}
            <section class ="alternate-background">
            {%else%}
            <section>
        {%endif%}
        <div data-aos="zoom-up" id="{{ item['id'] }}" class="container">
            {% if loop.index == 1 %}
                <h3 id="sectionText">Travel Attraction</h3>
                <h1 class="section-title">Top things to do:</h1>
            {% endif%}
            <h2 class="mb-0">{{ item['heading'] }}</h2>
            <p class="left-break u-text u-text-2">{{ item['description']}}</p>
            <div id="carousel-{{ item['id'] }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    {% for image in item['image']%}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                        <img src="{{ image }}" class="d-block w-100" alt="{{ item['heading'] }}" style=" object-fit: cover;">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    {%endfor%}
</section>

<section>
<ins class="adsbygoogle"
   style="display:block"
   data-ad-client="ca-pub-6699558686327687"
   data-ad-slot="2250302661"
   data-ad-format="auto"
   data-full-width-responsive="true"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</section>

<!-- Section: Top Travel Attraction Start-->

<div data-aos="fade-up" id="packages" class="container-fluid hide-on-small-device alternate-background">
    <div class="container-center">
        <div class="row justify-content-md-center">
            <div class="col-sm-8">
            <p class="note">Sale Vacation Packages</p>
            <p class="note">Newsletter</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-8">
                <form method="POST" class="u-clearfix u-form-horizontal u-form-spacing-0 u-inner-form" source="email" name="form">
                    <input type="email" placeholder="Enter a valid email address" id="email-22f8" name="email" class="u-input u-input-rectangle u-white" required="">
                    <div class="u-black u-btn u-btn-submit u-button-style u-btn-1">
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                </form>
            </div>
    </div>
</div>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6699558686327687"
     crossorigin="anonymous"></script>

<!--Section: Travel Attraction End-->

<!--  Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>
{% endblock %}



