{% extends 'base.html' %}
{% set current_route = 'index' %}
{% set show_header_special_div = True%}
{% block body %}

<!--Section: Services-->
<!--Section: Services-->
<section id="sectionServices" class="align-center" >
    <div class="container">
      <div class="row">
        <div class="col">
         <div class="cardServices">
            <img class="card-img-top" src="/static/icons/travel.svg" alt="Traveller Tours">
            <div class="card-body">
              <h4 class="card-title hide-on-small-device">Traveller Tours</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div  class="cardServices">
            <img class="card-img-top" src="/static/icons/globe.svg" alt="Traveller Tours">
            <div class="card-body">
              <h4 class="card-title hide-on-small-device">Explore The World</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="cardServices">
            <img class="card-img-top" src="/static/icons/Hotel.svg" alt="Traveller Tours">
            <div class="card-body">
              <h4 class="card-title hide-on-small-device">Luxurious Hotel</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div  class="cardServices">
            <img class="card-img-top" src="/static/icons/adventure.svg" alt="Traveller Tours">
            <div class="card-body">
              <h4 class="card-title hide-on-small-device">Exciting Adventure</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--Section: Services-->
<!--gallery-->
<main class="mt-5">
    <div data-aos="fade-up" class="container">
        <section>
            <div class="row">
                <div id="rowGallery" class="col-md-6 gx-5 mb-4">
                    <h1 id="title">10 Amazing places in Palawan</h1>
                    <p id="disc1" class="u-text u-text-2">
                        Palawan stands out as one of the most captivating destination in the philippines due to its remarkable natural beauty
                        which includes breathtaking landscapes, picturesque views, and mesmerizing natural attractions.
                        At HNM travel and Tours Agency, Our objective is to present the extraordinary marvels and distinctive
                        characteristics that set palawan from other places. By doing so, we honor the uniqueness that exist
                        only here in palawan, fostering a greater appreciation and comprehension of the abundant wealth of natural and cultural treasures it provides.
                    </p>
                    <div id="learnMore-Button">
                        <a href="{{ url_for('learnmore') }}" >Learn More</a>
                    </div>
                    <div id="gallery" class="row ">
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 hide-on-small-device">
                            <div class="child bg-one">
                                <img src="/static/images/big-lagoon.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Elnido" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 ">
                            <div class="child bg-two">
                                <img src="/static/images/elnido-beach.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Elnido Beach" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 hide-on-small-device">
                            <div class="child bg-three">
                                <img src="/static/images/Elnido2.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Elnido" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 ">
                            <div class="child bg-four">
                                <img src="/static/images/1.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Culion Island" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 hide-on-small-device">
                            <div class="child bg-five">
                                <img src="/static/images/malcapuya.jpg"
                                     id="malcapuya" class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Malcapuya" />
                            </div>
                        </div>
                        <div data-aos="flip-right" class="parent col-lg-4 col-md-12 mb-4 mb-lg-0 hide-on-small-device">
                            <div class="child bg-six">
                                <img src="/static/images/underground.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4"
                                     alt="Underground River" />
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="flip-left" id="right"  class="col-md-6 gx-5 mb-4 hide-on-small-device">
                        <img src="/static/images/coron.jpg"
                             class="w-100"
                             alt="Coron" />
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Gallery -->

<!-- Section: Top Travel Attraction-->
<section>
    <div data-aos="zoom-in" id="sectionBackgroundImg"></div>
    {% for item in gallery%}
    <div data-aos="zzoom-up" id="{{ item['id'] }}" class="container">
        {% if loop.index == 1 %}
                <h3 id="sectionText">Travel Attraction</h3>
                <h1 class="section-title">Top things to do:</h1>
        {% endif%}
        <h2 class="mb-0">{{ item['heading'] }}</h2>
        <p class="left-break">{{ item['description'] }}</p>
        <hr class="hr hr-blurry" />
        <div id="carousel-{{ item['id'] }}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for image in item['image']%}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <img src="{{ image }}" class="d-block w-100" alt="{{ item['heading'] }}" style="height: 700px; 
                    object-fit: cover;">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ item['id'] }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <hr class="hr hr-blurry" />
      {%endfor%}
</section>

<!-- Section: Top Travel Attraction-->

<!--Section: Content-->
<section class="text-center hide-on-small-device">
    <div class="container">
    <h4 data-aos="fade-up" class="mb-5"><strong>CEDRICK CHU!</strong></h4>
    <div data-aos="fade-up" id="blueCard" class="row justify-content-md-center ">
        <div class="col col-lg-2">
            <div class="card custom-card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="/static/images/balabac.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col col-lg-2">
            <div class="card custom-card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="/static/images/2.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col col-lg-2">
            <div class="card custom-card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="/static/images/cauayan-island-resort.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!--Section: Content-->
<section class="text-center">
    <h4 data-aos="fade-up" class="mb-5"><strong>Recent Packages</strong></h4>
    <div data-aos="fade-up" class="embeddedPostsContainer">
        <div id="embeddedPosts"></div>
    </div>
</section>


<hr class="my-5" />

<!--Section: Content-->
<div data-aos="fade-up" id="packages" class="container-fluid hide-on-small-device">
    <p class="note">Sale Vacation </p>
    <p class="note">Packages</p>
    <form method="POST" class="u-clearfix u-form-horizontal u-form-spacing-0 u-inner-form" style="padding: 0;" source="email" name="form">
        <input type="email" placeholder="Enter a valid email address" id="email-22f8" name="email" class="u-input u-input-rectangle u-white" required="">
        <div class="u-black u-btn u-btn-submit u-button-style u-btn-1">
            <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
    </form>
</div>
<!--Section: Content-->

<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", {{ page_id }});
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v17.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}