{% extends 'base.html' %}

{% block body %}
  <section id="page-content">
    <div class="container">
      <div class="page-title">
        <h1>10 Amazing Places in Palawan</h1>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">Pictures</a></li>
            <li><a href="#">Summer 15</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  
  <section class="articles" >
    <article id="element1">
      <div class="article-wrapper">
        <figure>
          <img src="/static/images/balabac.jpg" alt="Balabac" />
        </figure>
        <div class="article-body">
          <h2>Balabac</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>

    <article id="elementH1">
      <div class="article-wrapper">
        <figure>
          <img src="/static/images/big-lagoon.jpg" alt="Big Lagoon" />
        </figure>
        <div class="article-body">
          <h2>This is some title</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>

    <article id="element2">
      <div class="article-wrapper">
        <figure>
          <img src="/static/images/cauayan-island-resort.jpg" alt="Cauyan Island Resort" />
        </figure>
        <div class="article-body">
          <h2>Cauyan Island Resort</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>

    <article id="element3">
      <div class="article-wrapper">
        <figure>
          <img src="/static/images/Culion-Island.jpg" alt="Culion Island" />
        </figure>
        <div class="article-body">
          <h2>Culion Island</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>

    <article id="elementH2">
      <div class="article-wrapper">
        <figure>
          <img src="/static/images/cayanganLake.avif" alt="Cayangan Lake" />
        </figure>
        <div class="article-body">
          <h2>Cayangan Lake</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>

    <article id="element4">
      <div class="article-wrapper">
        <figure>
          <img src="/static/images/1.jpg" alt="Elnido Beach" />
        </figure>
        <div class="article-body">
          <h2>Elnido Beach</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>
    
    <article id="elementH3">
      <div class="article-wrapper">
        <figure>
          <img src="/static/images/coron.jpg" alt="Coron" />
        </figure>
        <div class="article-body">
          <h2>Coron</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>

    <article id="elementH4">
      <div class="article-wrapper">
        <figure>
          <img src="/static/images/underground.jpg" alt="Underground River" />
        </figure>
        <div class="article-body">
          <h2>This is some title</h2>
          <p>
            Curabitur convallis ac quam vitae laoreet. Nulla mauris ante, euismod sed lacus sit amet, congue bibendum eros. Etiam mattis lobortis porta. Vestibulum ultrices iaculis enim imperdiet egestas.
          </p>
        </div>
      </div>
    </article>
  </section>

{% endblock %}