{%extends 'base.html' %}
{%block body%}
<section>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="carousel slide multi-item-carousel" id="theCarousel">
              <div class="carousel-inner">
                <div class="item active">
                    <div data-aos="fade-up" class="container-xxl py-5">
                        <div class="container">
                            <div class="text-center">
                                <h1 class="mb-5">Awesome Packages</h1>
                            </div>
                            <div class="row g-4 justify-content-center">
                                <div class="col-lg-4 col-md-6">
                                    <div class="package-item">
                                        <h4 class="text-center">Siargao Island Hopping</h1>
                                        <div class="overflow-hidden">
                                            <img class="img-fluid" src="/static/images/siargao.jpg" alt="Siargao">
                                        </div>
                                        <div class="d-flex border-bottom">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Siargao</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Minimun of 4 person</small>
                                        </div>
                                        <div class="text-center p-4">
                                            <h3 class="mb-0">₱1600/pax</h3>
                                            <div class="mb-3">
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                            </div>
                                            <div class="d-flex justify-content-center mb-2">
                                                <a href="https://www.facebook.com/photo?fbid=177028105355613&set=a.124977407227350"  target="_blank" class="btn btn-sm px-3 border-end" style="border-radius: 30px;">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="package-item">
                                        <h4 class="text-center">Puerto Package + El Nido</h4>
                                        <div class="overflow-hidden">
                                            <img class="img-fluid" src="/static/images/puerto.jpg" alt="">
                                        </div>
                                        <div class="d-flex border-bottom">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Palawan</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>6Days 5Nights</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Minimum of 2 person</small>
                                        </div>
                                        <div class="text-center p-4">
                                            <h3 class="mb-0">₱13,850/pax</h3>
                                            <div class="mb-3">
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                            </div>
                                            <div class="d-flex justify-content-center mb-2">
                                                <a href="https://www.facebook.com/HNMtravel/posts/pfbid02VUL1C92cmnySpa2zViF67sTYhdQpg2Z8aUwc5kzwuzcbnsx3HVNqJF9xJ9XGVJrCl" target="_blank" class="btn btn-sm  px-3 border-end" style="border-radius: 30px;">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="package-item">
                                        <h4 class="text-center">Balabac Island Tour</h4>
                                        <div class="overflow-hidden">
                                            <img class="img-fluid" src="/static/images/balabac3.png" alt="">
                                        </div>
                                        <div class="d-flex border-bottom">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Balabac</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>5Days and 4Nights</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Joiners Tour</small>
                                        </div>
                                        <div class="text-center p-4">
                                            <h3 class="mb-0">₱14,500/pax</h3>
                                            <div class="mb-3">
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                            </div>
                                            <div class="d-flex justify-content-center mb-2">
                                                <a href="https://www.facebook.com/HNMtravel/videos/571401341826076" target="_blank" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px;">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div data-aos="fade-up" class="container-xxl py-5">
                        <div class="container">
                            <div class="text-center">
                                <h1 class="mb-5">Awesome Packages</h1>
                            </div>
                            <div class="row g-4 justify-content-center">
                                <div class="col-lg-4 col-md-6">
                                    <div class="package-item">
                                        <h4 class="text-center">Siargao Island Hopping</h1>
                                        <div class="overflow-hidden">
                                            <img class="img-fluid" src="/static/images/siargao.jpg" alt="Siargao">
                                        </div>
                                        <div class="d-flex border-bottom">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Siargao</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Minimun of 4 person</small>
                                        </div>
                                        <div class="text-center p-4">
                                            <h3 class="mb-0">₱1600/pax</h3>
                                            <div class="mb-3">
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                            </div>
                                            <div class="d-flex justify-content-center mb-2">
                                                <a href="https://www.facebook.com/photo?fbid=177028105355613&set=a.124977407227350"  target="_blank" class="btn btn-sm px-3 border-end" style="border-radius: 30px;">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="package-item">
                                        <h4 class="text-center">Puerto Package + El Nido</h4>
                                        <div class="overflow-hidden">
                                            <img class="img-fluid" src="/static/images/puerto.jpg" alt="">
                                        </div>
                                        <div class="d-flex border-bottom">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Palawan</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>6Days 5Nights</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Minimum of 2 person</small>
                                        </div>
                                        <div class="text-center p-4">
                                            <h3 class="mb-0">₱13,850/pax</h3>
                                            <div class="mb-3">
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                            </div>
                                            <div class="d-flex justify-content-center mb-2">
                                                <a href="https://www.facebook.com/HNMtravel/posts/pfbid02VUL1C92cmnySpa2zViF67sTYhdQpg2Z8aUwc5kzwuzcbnsx3HVNqJF9xJ9XGVJrCl" target="_blank" class="btn btn-sm  px-3 border-end" style="border-radius: 30px;">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="package-item">
                                        <h4 class="text-center">Balabac Island Tour</h4>
                                        <div class="overflow-hidden">
                                            <img class="img-fluid" src="/static/images/balabac3.png" alt="">
                                        </div>
                                        <div class="d-flex border-bottom">
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Balabac</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>5Days and 4Nights</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Joiners Tour</small>
                                        </div>
                                        <div class="text-center p-4">
                                            <h3 class="mb-0">₱14,500/pax</h3>
                                            <div class="mb-3">
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star" style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                                <small class="fa fa-star"style="color:#39C67A;"></small>
                                            </div>
                                            <div class="d-flex justify-content-center mb-2">
                                                <a href="https://www.facebook.com/HNMtravel/videos/571401341826076" target="_blank" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px;">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
</section>
{%endblock%}