html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    --effective-scale: 1.1;
    background-color: #292b33;
    scroll-behavior: smooth;    

}
.text-center{
    text-align: center;
    font-family: sans-serif;
    word-wrap: break-word;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
 
}

.btn{
    background-color: #3985C6 !important;
}
.btn:hover{
    background-color: #39C67A !important;

}

ul{
    list-style-type: none;
}

h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.hr-blurry{
    color: #ffffff;
    border-top: 4px solid;
    z-index: 9999999999999999;
}

section{
    background-color: #292b33;
    color: white;
    position: relative;
    box-sizing: border-box;
    display: block;
    padding-bottom: 20px;
}
.alternate-background{
    background-color: white;
    color:  #292b33;
    font-size: large;
    padding-bottom: 20px;

}
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}

.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    background-color: white;
    color: #292b33;
    padding-top: 20px;
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}

#topnav{
    height: 90x;
    background:rgb(29, 29, 29);
    position: fixed;
}

#topnav #icons{
    right: 0;
    width: 100%;
    margin-top: 2.5em;
    display: flex;
    justify-content: flex-end;
    height: 30px;

}

#topnav li {
    margin: 0 4px;
  }
  
.scrolled{
    background-color: white;
    transition: background-color 0.5s ease;
 }




#intro {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 120vh;
    object-fit: cover;
    display: block;
    box-sizing: border-box;

}
    
#button-menu {

    position: fixed;
    font-size: 30px;
    font-weight: bold;
    margin-left: 3.1em;
    padding: 6px 17px;
    margin-top: 10px;
    z-index: 9999999999999999;
    color: rgb(255, 69, 69) !important;     
    }


a:link, a:visited {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    z-index: 9999999999;
}

#logo{
    border-radius: 50%;
    width: 100px;
    margin: 15px;
    margin-left: 70px;
    margin-top: 5em;
    border: 3px solid #b4b8b9
}

#mySidebar{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px 0 0; /* Height of navbar */
    background-color: rgb(29, 29, 29);
    width: 240px;
    z-index: 999999999;
    overflow: hidden;
    
}
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    background-color: white;
}

.service-item:hover {
    background: black;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: white;


}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    }


#front {
    width: 590px;
    height: 366px;
    margin: 0 auto;
    background-color: #54f76f !important;
    z-index: 1;
    margin-top: 3em;
    margin-left: -3em;
}

#back {
    width: 250px;
    height: 450px;
    background-color: #C6393E !important;
    margin-left: 12em;
    margin-top: -7em;
    margin-bottom: -3em;
}

#p {
    text-align: left;
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-top: 3em;
    padding-left: 15px;
    font-size: 23px;
    font-weight: bold;
}

#h1{
    font-size: 45px;
    text-align: left;
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-top: 2em;
    padding-left: 15px;
    font-weight: bolder;
        
    
}

#title{
    font-family: lucida;
    font-size: 60px;
    font-weight: bold;
}

#disc1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}
#learnMore-Button{
    width: 189px;
    height: 57px;
    color: white;
    background-color: #3985C6 !important;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding-top: 15px;
    border-radius: 30px;
    font-family: sans-serif;
    letter-spacing: 2px;
    transition: all .5s ease;
    font-size: 15px;
  
}

#learnMore-Button:hover{
    background-color: #39C67A !important;
}
#learnMore-Button a{
    text-decoration: none;
}



.cardServices{
    margin-top: -4em;
    background-color: #ffffff !important;
    border: 1px;
    border-radius: 30px;
    width: 250px;
    height: 250px;
}

.cardServices img{
    margin-right: 2em;
    height: 100px;
    margin-top: 20px;
    max-width: 100%
    
}
.card-title{
    text-align: center;
    color: #000000 !important;
    font-family: sans-serif;
    word-wrap: break-word;
    position: relative;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 3px;
    font-weight: 400;
    margin: 50px 0 0;

}

#gallery{
    margin-top: 2em;
    max-width: 100%;
    box-sizing: border-box;
    overflow: clip;
  
}



#right{
    margin-top: -.3em;
}


.bg-five{
    margin-top: -7em;
    position: relative;
}

#aboutUs {
    background-image: url("/static/images/untitled.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 68vh;
 }

 
#lastCard{
    width: 390px;
    height: 430px;
    background-color: #ffffff;
    z-index: 1;
    margin-top: 5em;
    margin-left: 30em;
    box-sizing: border-box;
}
#p1{
    text-align: center;
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #333e44;
    margin-top: 1em;
    font-size: 25px;
    margin-right: 2em;
    
}
#services{
    text-align: center;

    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-top: .5em;
    font-weight: bolder!important;
    font-size: 40px !important;
    margin-left: 1.3em;
       
       
}
#leftCard .card-title{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-top: 1em;
    margin-right: 1em;
    font-size: 20px;
    margin-right: 2em;
    margin-top: .3em;
}


#blueCard{
    display: flex;
    gap: 5px;
}
#blueCard img{
    margin-left: 30px;
}

#blueCard .col{
    flex: 0.5;
}

.btn btn-primary{
    background-color: #C6393E;
}
  
.row .card{
    width: 400px;
    height: auto;
   
    background-color: #39C6C1 !important;
}
.row .card img {
    height: 250px;
    width: auto;
    margin-top: 2em;
    margin-right: 2em;
    max-width: 100%
}


#packages{
    background-image: url("/static/images/packages.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.note{
    text-align: left;
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    top: 230px;
    left: 599px;
    margin-top: -40px;
}

input[type=email] {
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 20em 40em;
    bottom: 80px;
    position: relative;
}

input[type=submit]{
    width: 20%;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    left: 599px;
    bottom: 370px;
    position: relative;
    
}

#leftCard{
    width: 390px;
    height: 450px;
    background-color: #e9e9e9 !important;
    z-index: 1;
    margin-top: 8em;
    margin-left: 34em;
    box-sizing: border-box;
    border-radius: 0%;
    
}
.fas fa-map-marked{
    background-color: #26363F;
}
#rightCard{
    width: 590px;
    height: 450px;
    background-color: #26363F;
    z-index: 1;
    box-sizing: border-box;
    margin-top: -30em;
    margin-left: 58em;
    border-radius: 0%;
    background-image: url("/static/images/contactUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
#sectionImages{
    background-color: #e4e5e6;
}
.fb-post {
    margin-bottom: 20px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 654px;
    background-color: floralwhite
}
.embeddedPostsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 654px;
}
#sectionBackgroundImg{
    background-image: url("/static/images/travel.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60vh;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    overflow: clip;
}

#sectionText{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-top: -5em;
    color: white;
}


.section-title{
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    padding-bottom: 60px;
    color: white;
}
.mb-0{
    padding-top: 20px;
}
#Attraction h3{
    font-family: Arial, tahoma, sans-serif;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    bottom: 160px
}

.left-break{
    overflow-wrap: break-word;
    text-align: justify;
    max-width: 55%;
    padding-top: 20px;
    padding-bottom: 20px;
    
 
}

 .container{
    padding-bottom: 20px;
 }
 


  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .active, .dot:hover {
    background-color: #ffffff;
  }
  
 
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {
        font-size: 11px
    }
  }

  @media (max-width: 576px) {
    #topnav {
      justify-content: space-around;
      
    }
    
  }

@media screen and (max-width: 768px) {
    #intro{
        background-image: url("/static/images/background.jpg");
        width: 100%;
        height: 50vh;
    }
    #sectionText{
        margin-top: -2em;
        padding-bottom: 10px;
    }
    
    #topnav #icons {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 4em;
      }

    #button-menu {
        margin-left: -.1em;
        margin-top: .1em;
    }



    #back{
        display: none;
    }


    #firstSection{

        margin: auto;
        margin-top: -4em;
        width: 100%;
        padding: 10px;
    }



    .cardServices{
    border: 2px solid black;
    width: 70px;
    height: 65px;
    margin-top: -6em;
    border-radius: 10px;
    }

    #gallery{
  
    width: 100%;
    height: auto;
    
      
    }

    .cardServices img{
    margin-right: 2em;
    height: 50px;
    margin-top: 4px;
    max-width: 100%

    }
    .card-title{
    font-size: .6rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 50px 0 0;
    margin-top: 2em;

    }


    .bg-five{
        margin-top: 2em;
    }

    .row{
        flex: 100%;
        max-width: 100%;
    }

    #title{
        font-size: 30px;
    }

    #learnMore-Button{
        width: 160px;
        height: 60px;
        font-size: 10px;
        padding: 2px;
        padding-top: 15px;
        margin-top: 2em;
        
    }

    .hide-on-small-device{
        display: none;
    }

    .scale-down {
        transform: scale(0.6);
    }
    #packages{
        height: 70vh;
    }
    #sectionBackgroundImg{
        background-image: url("/static/images/travel.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 40vh;
        max-width: 100%;
        display: block;
        box-sizing: border-box;
        overflow: clip;
    }
    
    #Attraction h3{
        font-family: Arial, tahoma, sans-serif;
        color: #000000;
        font-size: 2.5rem;
        font-weight: bold;
        position: relative;
        bottom: 120px
    }
    
    
    .section-title{
        text-align: left;
        font-family: sans-serif;
        font-size: 3rem;
        font-weight: bold;
        position: relative;
        margin-top: -40px;
        bottom: 90px;
    }
    .left-break{
        overflow-wrap: break-word;
        text-align: left;
        text-align: justify;
        max-width: 100%;
    
     
    }
    
    
}

