
#page-content{
    padding-top: 8em;
    margin-top: -2em;
    margin-bottom: -2em;

}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  

  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  

  ul.breadcrumb li a {
    color: #ebe8e8;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #0088ff;
    text-decoration: underline;
  }


  .article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
    
   
    
    
  }
  .article p{
    color: var(--title-color);
    text-align: justify;
  }
  
  
  .article-body {
    padding: 24px;
  }
  


  section .article {
    --img-scale: 1.1;
    --title-color: rgb(0, 0, 0);
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    background: #d4d4d4;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    margin-top: 2em;
    *{
      margin: 0;
      padding: 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
  
  #photos{
      margin-top: 30px;
     
  }
  
  #photos img{
      display: block;
      width: 100%;
      margin-top: 40px;
      padding-left: 1em;
  }
  
  @media (min-width: 500px){
      #photos{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 6px;
  
          margin-top: 0;
      }
  }
  
  @media (min-width: 900px){
      #photos{
          grid-template-columns: repeat(3, 1fr);
          width: 900px;
          margin: auto;
      }
  
  }

  @media screen and (max-width: 960px) {
    .article-body p {
      display: none;
    }
  }
  


  