html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    --effective-scale: 1.1;
    background-color: #292b33;
    scroll-behavior: smooth;
   
    
}
#navBar{
    margin-left: 105em;
}
#intro {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 120vh;
    object-fit: cover;
    display: block;
    box-sizing: border-box;

    }
    
    #button-menu {
        position: fixed;
        border: 3px solid #C6393E;
        border-radius: 15px;
        font-size: 30px;
        font-weight: bold;
        margin-left: 60em;
        margin-top: 1em;
        padding: 6px 14px;
        z-index: 9999;
        color: rgb(2, 2, 2);      
      }

    #closeButton {
        position: absolute;
        right: 0px;
        margin: 15px;
        cursor: pointer;
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-left: 9em;
        
    }
    #closeButton:hover{
        font-size: x-large;
    }
    a:link, a:visited {
        color: white;
        font-family: sans-serif;
        font-size: 20px;
        z-index: 9999999999;
    }
    a:link:hover{
        font-size: 25px;
    }
    
   #logo{
        border-radius: 50%;
        width: 100px;
        margin: 15px;
        margin-left: 70px;
        border: 3px solid #b4b8b9
   }
    
    #mySidebar{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 30px 0 0; /* Height of navbar */
        background-color: rgb(29, 29, 29);
        width: 240px;
        z-index: 600;
        overflow: hidden;
        
    }
 
      
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
      }
  

    #front {
        width: 590px;
        height: 366px;
        margin: 0 auto;
        background-color: #39c6c1 !important;
        z-index: 1;
        margin-top: 3em;
        margin-left: -3em;
    }

    #back {
        width: 250px;
        height: 450px;
        background-color: #C6393E !important;
        margin-left: 12em;
        margin-top: -7em;
        margin-bottom: -3em;

    #p {
        text-align: left;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        color: #000000;
        margin-top: 3em;
        padding-left: 15px;
        font-size: 23px;
        font-weight: bold;
    }

    #h1{
        font-size: 45px;
        text-align: left;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        color: #000000;
        margin-top: 2em;
        padding-left: 15px;
        font-weight: bolder;
        
    }
}

#title{
    font-family: lucida;
    font-size: 60px;
    font-weight: bold;
}

#disc1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}
#learnMore-Button{
    width: 189px;
    height: 57px;
    color: white;
    background-color: #3985C6 !important;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-family: sans-serif;
    letter-spacing: 2px;
}
#learnMore-Button:hover{
    background-color: #39C67A !important;
    font-size: larger;
}

section{
    background-color: #292b33;
    color: #e9e9e9;
    position: relative;
    box-sizing: border-box;
    display: block;

}

.cardServices{
    margin-top: -4em;
    background-color: #ffffff !important;
    border: 1px;
    border-radius: 30px;
    width: 250px;
    height: 250px;
}

.cardServices img{
    margin-right: 2em;
    height: 100px;
    margin-top: 20px;
    
}
.card-title{
    text-align: center;
    color: #000000 !important;
    font-family: sans-serif;
    word-wrap: break-word;
    position: relative;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 3px;
    font-weight: 400;
    margin: 50px 0 0;

}





#gallery{
    margin-top: 2em;
   
}



#right{
    width: 100%;
    height: auto;
    margin-left: 2em;
    border-radius: 0%;
    border: 2px solid white;
    margin-top: 3.5em;

}


.parent:hover .child{
    transform: scale(1.1);
}

.bg-five{
    margin-top: -9.45em;
    position: relative;
    
}
#aboutUs {
    background-image: url("/static/images/untitled.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 68vh;
 }

 
#lastCard{
        width: 390px;
        height: 430px;
        background-color: #ffffff;
        z-index: 1;
        margin-top: 5em;
        margin-left: 30em;
        box-sizing: border-box;
}
#p1{
        text-align: center;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        font-weight: bolder;
        color: #333e44;
        margin-top: 1em;
        font-size: 25px;
        margin-right: 2em;
    
}
#services{
        text-align: center;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        color: #000000;
        margin-top: .5em;
        font-weight: bolder!important;
        font-size: 40px;
        margin-right: 1.5em;
       
}
#p2{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #000000;
    margin-top: 1em;
    margin-right: 1em;
    font-size: 20px;
    margin-right: 2em;
    margin-top: .3em;
}

.wrapper {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 0;
    margin-right: 0;
}


.row .card{
    padding-left: 2em;
}


.btn btn-primary{
    background-color: #C6393E;
}
  
.card{
    width: 400px;
    height: auto;
    margin-left: 8em;
    background-color: #39C6C1 !important;
}
.card img {
    height: 250px;
    width: auto;
    margin-top: 2em;
    margin-right: 2em;
}


#packages{
    background-image: url("/static/images/packages.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.note{
    text-align: left;
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    position: relative;
    top: 230px;
    left: 599px;
    position: relative;
    margin-top: -40px;
}

input[type=email] {
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 20em 40em;
    bottom: 80px;
    position: relative;
  }
input[type=submit]{
    width: 20%;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    left: 599px;
    bottom: 370px;
    position: relative;
    
}

#leftCard{
    width: 390px;
    height: 450px;
    background-color: #e9e9e9 !important;
    z-index: 1;
    margin-top: 8em;
    margin-left: 34em;
    box-sizing: border-box;
    border-radius: 0%;
    
}

.fas fa-map-marked{
    background-color: #26363F;
}
#rightCard{
    width: 590px;
    height: 450px;
    background-color: #26363F;
    z-index: 1;
    box-sizing: border-box;
    margin-top: -30em;
    margin-left: 58em;
    border-radius: 0%;
    background-image: url("/static/images/contactUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
#last{
        width: 100px;
        margin: 15px;
        margin-left: 30em;
        margin-top: -20em;
        z-index: 2;
        
}

@media screen and (max-width: 720px) 
{

    #intro{
        background-image: url("/static/images/background.jpg");
        width: 100%;
        height: 50vh;
        
        
    }
    
    #front {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background-color: #26363F;
        z-index: 1;
        margin-top: 3em;
        margin-left: -3em;
    }

    #back {
        width: 80px;
        height: 270px;
        background-color: #dd604a;
        left: auto;
        right: 20%;
    #p {
        text-align: left;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        color: #f1f3f1;
        margin-top: 3em;
        padding-left: 15px;
        font-size: 10px;
    }

    #h1{
        font-size: 20px;
        text-align: left;
        font-family: 'roboto', sans-serif;
        text-transform: uppercase;
        color: #f1f3f1;
        margin-top: 2em;
        padding-left: 15px;
        
        }
    }
    #firstSection{
    
        margin: auto;
        margin-top: -4em;
        width: 100%;
        padding: 10px;
    }
    
    
   #gallery{
    width: 300px;
    margin: auto;
    margin-left: 1em;
    margin-top: 1em;
   
   }

.cardServices{
    margin-top: -4em;
    background-color: #ffffff !important;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.cardServices img{
    margin-right: 2em;
    height: 50px;
    margin-top: 20px;
    
}
.card-title{
    text-align: center;
    color: #000000 !important;
    font-family: sans-serif;
    word-wrap: break-word;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 50px 0 0;
    margin-top: 3.5em;

}

    #rightCard{
        width: 590px;
        height: 450px;
        background-color: #26363F;
        z-index: 1;
        box-sizing: border-box;
        border-radius: 0%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 1em;
        
    }
    #right{
        width: 100%;
        margin-top: .7em;
        margin: auto;
        border-radius: 0%;
        margin-left: 20px;
    }
    .bg-five{
        margin-top: 2em;
    }
    .row{
        flex: 100%;
        max-width: 100%;
    }
    #title{
        font-size: 30px;
    }
    #learnMore-Button{
        font-size: 10px;
        padding: 4px;
        margin-left: 7em;
    }
    

}

  